<ion-view title="Login">
  <ion-content data-tap-disabled="true">

    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="name" name="name" ng-model="userName">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="text" name="name" ng-model="userText">
      </label>
      <button class="button button-calm button-block"
              ng-click="sendMySelfAMessage(userName, userText)">Send Message
      </button>
    </div>

    <div class="list">
      <div class="item">
        Chat Window
      </div>
      <div class="calm-bg item">
        <strong>{{chatName}}</strong> {{chatText}}
      </div>


    </div>

  </ion-content>


</ion-view>
